# Dépendances
node_modules/
**/node_modules/

# Build
**/dist/
dist/

# Coverage
**/coverage/
coverage/

# Données applicatives
data/

# Environnement
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
