.version-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid var(--g-color-line-generic);
    flex-shrink: 0;
  }

  &__container {
    flex: 1;
    overflow: auto;
    padding: 0 0.75em;
  }

  @media (min-width: 48em) {
    &__actions {
      padding: 0.5em 1em;
    }

    &__container {
      padding: 0 1em;
    }
  }
}
